<div class="text-center">
  <h1 class="text-muted pt-5 pb-3">MY BOOKED KITCHENS</h1>
</div>


<% @bookings.each do |booking| %>
<div class="card-product">
<%= link_to kitchen_path(booking.kitchen.id), class: "kitchen-card-link" do %>
    <img id="main-photo" src="<%= booking.kitchen.photo %>">
<% end %>
  <div class="card-product-infos">
    <h2><%= booking.kitchen.title %></h2>
    <p>Start date and hour: <%= booking.start_at %></p>
    <p>End date and hour: <%= booking.end_at %></p>
    <p id="pricebooking">Price: R$ <%= booking.kitchen.price_per_hour %> per hour</p>
  </div>
  <%= link_to kitchen_path(booking.kitchen.id), class: "kitchen-card-link" do %>
    <button type="button" class="btn btn-secondary">Rebook!</button>
  <% end %>
</div>
<% end %>

<%= render 'shared/footbar' %>
