<div id="show-description">
  <div class="container d-flex">
    <img id="main-photo" src="<%= @kitchen.photo_url %>">
    <div class="description text-center">
        <h3 class="card-text"><%= kitchen.title %></h3>
        <p><%= kitchen.description %></p>
        <h4>R$ <%= kitchen.price_per_hour %></h4>
        <h5>per hour</h5>
        <p id="address"><%= kitchen.address %></p>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#bookingModal">BOOK IT</button>
    </div>
    <%= render partial: "bookings/modal" %>
  </div>
</div>
