<div class="description text-center">
  <div class="card-body">
    <h3 class="card-text"><%= kitchen.title %></h3>
    <p><%= kitchen.description %></p>
    <h4>R$ <%= kitchen.price_per_hour %></h4>
    <h5>per hour</h5>
    <p id="adress"><%= kitchen.city %></p>
    <%#= link_to "BOOK IT", new_kitchen_booking_path(kitchen), :"data-toggle"=>"modal", :"data-target"=>"#bookingModal", class: "btn btn-secondary", remote: true %>
    <%= link_to "BOOK IT", new_kitchen_booking_path(kitchen), class: "btn btn-secondary" %>
  </div>
</div>

<%#= render partial: "modal" %>