
<%= render 'shared/banner' %>

<div class="container w-50">
  <% @kitchens.each do |r| %>
    <%= link_to kitchen_path(r) do %>
      <div class="card mb-4">        
        <%= cl_image_tag r.photo, height: 400, width: 400, crop: :fill, class: "card-img-top" %>
        <div class="card-body m-3">
          <h5 class="card-title"><%= r.name %></h5>
          <% r.doses.each do |d| %>
            <p class="card-text"><%= "#{d.description} #{d.ingredient.name}" %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>