<div class="text-center">
  <h1 class="text-muted pt-5 pb-2">MY LISTED KITCHENS</h1>
  <%= link_to "Add your Kitchen", new_kitchen_path, class: "btn btn-outline-dark" %>
</div>

  <% @kitchens.each do |kitchen| %>
  <div class="card-my-kitchen">
    <%= link_to kitchen_path(kitchen.id), class: "kitchen-card-link" do %>
      <img id="main-photo" src="<%= kitchen.photo %>">
    <% end %>
    <div class="card-my-kitchen-infos">
      <h2><%= kitchen.title %></h2>
      <p><%= kitchen.city %></p>
      <p><%= kitchen.address %></p>
      <p><%= kitchen.description %></p>
      <p id="pricebooking">R$ <%= kitchen.price_per_hour %> per hour</p>
    </div>
  </div>
<% end %>

<%= render 'shared/footbar' %>
